# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/.terraform.lock.hcl
**/backend.hcl
# Ansible
**/inventory/mycluster/credentials.yml
**/secrets.ini
# Atlantis
atlantis/values.yaml
